<footer>
    <nav class="">
        <div>
            <h3>Мой аккаунт</h3>
            <ul>
                <a href="/">
                    <li>Мой аккаунт</li>
                </a>
                <a href="/">
                    <li>Наши магазины</li>
                </a>
                <a href="/">
                    <li>Связаться с нами</li>
                </a>
                <a href="/">
                    <li>Карьера</li>
                </a>
                <a href="/">
                    <li>Скидки</li>
                </a>
            </ul>
        </div>
        <div>
            <h3>Помощь и Руководства</h3>
            <ul>
                <a href="/">
                    <li>Центр помощи</li>
                </a>
                <a href="/">
                    <li>Как купить</li>
                </a>
                <a href="/">
                    <li>Перевозка и Доставка</li>
                </a>
                <a href="/">
                    <li>Товарная политика</li>
                </a>
                <a href="/">
                    <li>Как вернуть</li>
                </a>
            </ul>
        </div>
        <div>
            <h3>Категории</h3>
            <ul>
                <a href="/">
                    <li>Домашние кактусы</li>
                </a>
                <a href="/">
                    <li>Цветы в горшках</li>
                </a>
                <a href="/">
                    <li>Семена</li>
                </a>
                <a href="/">
                    <li>Мини кактусы</li>
                </a>
                <a href="/">
                    <li>Аксессуары</li>
                </a>
            </ul>
        </div>
        <div>
            <h3>Социальные сети</h3>
            <div>
                <span>Vk</span>
                <span>Insta</span>
                <span>Twitter</span>
                <span>Linkeidn</span>
                <span>YouTube</span>
            </div>
            <h3>Мы принимаем</h3>
            <div>
                <span>SberPay</span>
                <span>MirPay</span>
                <span>Visa</span>
                <span>MasterCard</span>
            </div>
        </div>
    </nav>
</footer>